*{
  box-sizing: border-box;
 


}
.main{
  background-color: #EEE;
  height: 100vh;
  padding-top: 100px;
  margin-bottom: 20px;
  
}
@media(max-width:500px){
  .main{
    background-color: #EEE;
    height: 1000px;
    padding-top: 100px;
    margin-bottom: 40px;
    
  }
}
img{
  width: 300px;
  margin-top: 80px;
}
.form {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  margin-top: 50px;
  padding: 15px;
  margin-bottom: 20px;
}
input {
  background-color: lightblue;
  margin-top: 15px;
  margin-bottom: 10px;
 
}
.signup{
  background-color: #42b72a;
  color: white;
  margin-left: 60px;
  font-size: 22px;
}


p{
  margin-left: 30px;
  font-size: 26px;
}
.forget{
margin-left: 100px;
}

.langs li{
      display: inline-flex;
      align-content: space-around;
        list-style-type: none;
}
.langs li a{
  color: #8a8d91;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;

}